.form-control{
   width: 90%;
   margin-top: 30px;
   margin-left: 20px;
   margin-right: 80px;
}
.display-4{
    text-align: center;
}
.btn{
    margin-top: 10px;
    margin-left: 20px;
}
.center1{
    text-align: center;
}
